<div class="reputation-list-wrapper">
    {% ajaxPartial __SELF__ ~ '::reputation' lazy body %}
        <div class="flex flex-col items-center justify-center w-full p-6 space-y-6 ">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                </svg>
            </div>
            <p>{{ 'Loading your reputation...' | trans }}</p>
        </div>
    {% endpartial %}
</div>
